body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --gradient_red: linear-gradient(180deg, #310404 0%, #c62828 100%);
  --gradient_background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  --red: #c62828;
  --blue: #039be5;
  --green: #43a047;
  --yellow: #fdd835;
  --purple: #6a1b9a;
  --orange: #e65100;
  --white: #fff;
  --black: #000;
}
