.CardCompact {
  display: flex;
  flex: 1;
  /* height: 7rem !important; */
  border-radius: 0.7rem;
  color: var(--white);
  position: relative;
  cursor: pointer;
  padding: 1rem;
}

.CardCompact:hover {
  box-shadow: none !important;
}

.RadialBar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.RadialBar > span {
  font-size: 17px;
  font-weight: bold;
}

.CircularProgressbar {
  width: 4rem !important;
  overflow: visible !important
  ;
}

.CircularProgressbar-path {
  stroke: var(--white) !important;
  stroke-width: 12px !important;
  filter: drop-shadow(2px 4px 6px var(--white));
}

.CircularProgressbar-trail {
  display: none;
}

.CircularProgressbar-text {
  fill: var(--white) !important;
}

.Details {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.Details > span:nth-child(2) {
  font-size: 22px;
  font-weight: bold;
}

.Details > span:nth-child(3) {
  font-size: 12px;
}

.CardExpanded {
  display: flex;
  position: absolute;
  width: 60%;
  z-index: 9;
  left: 13rem;
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.CardExpandedDetails {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.CardExpandedDetails > span:nth-of-type(1) {
  color: white;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0px 0px 15px white;
}

.CardExpandedDetails > span:nth-of-type(2) {
  color: white;
  font-size: 16px;
}

.ChartContainer {
  width: 70%;
}
